<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.iptest.mapper.ConsultIPRegionMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.iptest.entity.ConsultIPRegion">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="tel_city" property="tel_city" jdbcType="VARCHAR"/>
        <result column="consult_message_id" property="consult_message_id" jdbcType="VARCHAR"/>
        <result column="addTime" property="addTime" jdbcType="TIMESTAMP"/>

    </resultMap>
    <sql id="Base_Column_List">
        id
        ,
        tel_city,
        consult_message_id,
        addTime
    </sql>

    <select id="getList" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        consult_ip_region where #{date} = DATE_FORMAT(addTime,"%Y-%m-%d")
    </select>

    <update id="updateList" parameterType="com.example.demo.iptest.entity.ConsultMessage">
      update consult_ip_region set tel_city=#{tel_city} where consult_message_id=#{id}



   <!--     <foreach collection="list" item="bean" index="index" separator=";">
            UPDATE consult_ip_region
            <set>
                tel_city=#{bean.tel_city}
            </set>
            <where>
                consult_message_id = #{bean.id}
            </where>
        </foreach>-->
    </update>


</mapper>